* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.wrapper {
    font-family: 'Montserrat', sans-serif;
    width: 700;
}
    
.container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}



h1 {
    font-weight: 700;
    font-size: 64px;
    color: #fff;

}
h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #fff;
}
p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #717171;
}
.btn {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    padding: 10px 30px;
    border: none;
    color: #fff;
}

span {
    color: white;
    font-weight: 600;
}
h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #fff;
}