* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.wrapper {
    font-family: 'Montserrat', sans-serif;

}
    
.container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}



h1 {
    font-weight: 700;
    font-size: 64px;
    color: #fff;

}
h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    color: #fff;
}
p {
    font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #fff;
}
.btn {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    margin: 10px 30px;
}