
.bg {
    height: 100vh;
    background: url(../images/header/main-screen__bgc.png) center no-repeat;
    background-size: cover ; 
}
.inrto {
    overflow: hidden;
    height: 100vh;
    background: url(../images/header/main-screen__bgc.png) center no-repeat;
    background-size: cover ; 
}
.intro__inner  {
    max-width: 900px;

    padding-top: 231px;
    width: 100%;
    color: #fff;
}
.hug {
    display: flex;
}
.intro__hug {
    background-color: #121212;
    padding: 30px 10px;
    margin-right:15px ;
    margin-top: 30px;
    left: 0px;
    width: 100px;
    text-align: center;
}

/* ****************** */
.menu {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.menu__inner a {
    text-decoration: none;
    color: white;


}


.menu__link:hover {
    color: #fce38a;
    transition: color .1s linear;

}
/* /* ******************** */
.intro__bottom {
    width: 100%;
    max-height: 131px;
    height: 100px;
    background-color: #121212;
    position: absolute;
}

 .intro__bottom__inner {
    margin-top: 20px;
    display: flex;
    flex-direction: row     ;
    align-items: center;    
}

.intro__bottom__inner {
    font-size: 16px;
    color: #FFFFFF;
}
.intro__bottom-items  {
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__bottom__inner .btn {
    margin:0 60px;

}
.intro__bottom-item  {
    margin-right: 200px;
    position: relative;
}
.line {
    border: 3px solid white;
    width: 700px;
    position: absolute;
    top: 30px;
}
.line1 {
    width: 300px;
    height: 7px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    top: 30px;
    position: absolute;
}
.intro__description {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
}
.intro__description:nth-child(1) {
    position: absolute;
    padding-left: 200px;

}

/* /* ******************** */
.our {
    background-image: url(/images/bgc.png);
    background-size: cover ; 
    width: 100%;
    
}

.our__inner {
    padding-top: 200px;
    padding-bottom: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our__title {
    margin-left: 120px;
    width: 700px;
    color: white;
}
.our__title h2 {
    font-size: 48px;
    line-height: 140%;
}
.our__title p {
    font-style: normal;
    font-weight: 400;    
    font-size: 16px;
    line-height: 160%;

}


/* ************************* */
.start {
    padding: 0 0 200px 0;
    background-image: url(/images/bgc.png);
    background-size: cover ; 
    width: 100%;
}
.start__title-flex {
    display: flex;
    align-items: center;
}
.start__item-borders {
    display: flex;
    align-items: center;
}

.start__item__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.start__item-border {

    min-width: 300px;
    color: #7C6AFA;
    color: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.start__item-border:nth-child(1) {
    border-bottom: 80px solid  ;
}
.start__item-border:nth-child(2) {
    border-bottom: 60px solid  ;

}
.start__item-border:nth-child(3) {
    border-bottom: 30px solid  ;
    
    
}
.start__item-border:nth-child(4) {
    border-bottom: 10px solid  ;
    
}
/* ************************** */
.profesion {
    padding: 0 0 200px 0;
    background-image: url(/images/bgc.png);
    background-size: cover ; 
    width: 100%;
}
.profesion__title h2 {
    text-align: center;
    margin-bottom: 120px;
}
.profesion__inner {
    display: flex;
    justify-content: space-between;
}
.profesion__item {
    max-width: 400px;
    max-height: 460px;
    text-align: center;
}
.profesion__item  h3{
    max-width: 400px;
    max-height: 460px;
    text-align: center;
    margin: 50px 0;

}

.profesion__item p {
    width:  350px;
}
/* ****************************** */


.partners {
    background-image: url(/images/bgc.png);
    background-size: cover ; 
    width: 100%;
    padding: 0 0 200px 0;

}
.partners__title {
    display: flex;
    align-items: center;
    margin-bottom: 89px;

}

.partners__inner img {
    
    margin-left: 60px;
    margin-bottom: 40px;

}

/* ****************************** */
.program {
    padding: 0 0 200px 0;
    background-image: url(/images/bgc.png);
    background-size: cover ; 
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.program__title {
    margin-bottom: 89px;
}

.program__inner {
    display: flex;
    padding-left: 20%;
    flex-direction: row;
    text-align: right;

}

.program__line {
    width: 6px;
    height: 650px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    
}
 .program__inner-text {
    color: #fff;
}
.description {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    text-align: right;
    color: #FFFFFF;
    padding-top: 87px;
    opacity: 0.5;
    line-height: 1px;

}
.program__inner-text {
    max-width: 304px;
}
/* ******************** */

.mentors {
    padding: 0 0 200px 0;
    background-image: url(/images/bgc.png);
    background-size: cover ; 
    width: 100%;

}
.mentors__title {
    display: flex;
    margin-bottom: 90px;

}
.mentors__title img {
    margin-right: 20px;
}
.mentors__item  {
    text-align: center;
}
.mentors__item p {
    margin: 10px;
}
.mentors__item .btn {
    margin-top: 10px;
}
.mentors__item h2 {
    margin: 10px;
}
.mentors__blog {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.mentors__blog  img{
    margin-bottom: 20px;
}
/* **************************** */

.feedback {
    padding: 0 0 200px 0;
    background-image: url(/images/bgc.png);
    background-size: cover ; 
    width: 100%;
   text-align: center;
}

.feedback__logo  img {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    padding: 10px;
    border-radius: 50%;
    margin-right: 20px;
}
.feedback__search input {
    border: 0;
    outline: 0;
    background: transparent;

  }
.feedback__search {
    width: 492px;
    height: 44px;
    border: 1px solid #17a398;  
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 30px;
    margin: 0 auto;
}
.feedback__search .btn {
    transform: translateX(182px)
}