
.bg {
    height: 100vh;
    background: url(../images/header/main-screen__bgc.png) center no-repeat;
    background-size: cover ; 
}
.inrto {
    overflow: hidden;
    height: 100vh;
    background: url(../images/header/main-screen__bgc.png) center no-repeat;
    background-size: cover ; 
}
.intro__inner  {
    max-width: 900px;

    padding-top: 231px;
    width: 100%;
    color: #fff;
}
.hug {
    display: flex;
}
.intro__hug {
    background-color: #121212;
    padding: 30px 10px;
    margin-right:15px ;
    margin-top: 30px;
    left: 0px;
    width: 100px;
    text-align: center;
}

/* ****************** */
.menu {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.menu__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.menu__inner a {
    text-decoration: none;
    color: white;


}


.menu__link:hover {
    color: #fce38a;
    transition: color .1s linear;

}
/* /* ******************** */
.intro__bottom {
    background-color: #121212;
    position: absolute;
    bottom: -12;
}
.intro__bottom__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.intro__bottom-item  {
    position: relative;

    margin-left: 100px;

}
.line {
    border-bottom: 6px solid white;
    width: 714px;
}



/* /* ******************** */
.our {
    background-image: url(/images/bgc.png);
    background-size: cover ; 
    width: 100%;
    
}

.our__inner {
    padding-top: 200px;
    padding-bottom: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.our__title {
    margin-left: 120px;
    width: 700px;
    color: white;
}
.our__title h2 {
    font-size: 48px;
    line-height: 140%;
}
.our__title p {
    font-style: normal;
    font-weight: 400;    
    font-size: 16px;
    line-height: 160%;

}


/* ************************* */
.start {
    padding: 0 0 200px 0;
    background-image: url(/images/bgc.png);
    background-size: cover ; 
    width: 100%;
}.start__title-flex {
    display: flex;
    align-items: center;
}
.start__item__borders {
    display: flex;
    align-items: center;
}

.start__item__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.start__item-border {
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    min-width: 300px;
    color: #C89AFC;
}
.start__item-border:nth-child(1) {
    border-bottom: 80px solid  ;
}
.start__item-border:nth-child(2) {
    border-bottom: 60px solid  ;

}
.start__item-border:nth-child(3) {
    border-bottom: 30px solid  ;
    
}
.start__item-border:nth-child(4) {
    border-bottom: 10px solid  ;
    
}
